/*------------------ GENERAL STYLING ------------------*/

body {
    background: url('../img/body-bg.jpg') repeat-x 0 118px;
}

.slightly-centred-div {
    margin: 30px 90px 20px 90px;
    padding-bottom: 20px;
}

.no-pad {
    margin-left: -30px;
    margin-right: -30px;
}

/*------------------ HEADER ------------------*/

header {
    background-color: #9A1A31;
    color: #ffffff;
    padding: 20px 0 20px 0;
    height: 118px;
}

header #logo h1 {
    float: left;
}

header #logo small {
    color: inherit;
}

header .action, header .contact {
}

/*------------------ MAIN CONTENT ------------------*/

main.shadow {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(217,217,217,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(217,217,217,1);
    box-shadow: 0px 0px 5px 0px rgba(217,217,217,1);
}

main {
    margin-top: 30px;
    background-color: #ffffff;
}

/*------------------ Feature Boxes */

.feature-box {
    background-color: #9A1A31;
    height: 160px;
    margin-top: 20px;
    margin-bottom: 5px;
    padding-top: 105px;
}

.feature-box h3 {
    background-color: #ffffff;
    color: #9A1A31;
    width: 85%;
    padding-left: 5px;
}

/*------------------ Summary Text */

.ipsum {
    font-weight: 800;
    font-size: 25px;
    text-align: center;
    color: #5B5B5B;
    margin-top: 80px;
    margin-bottom: 80px;
}

/*------------------ FOOTER ------------------*/
footer {
    background-color: #2E2E2C;
    height: 200px;
    color: #ffffff;
}

footer a {
    color: #ffffff;
    padding: 0 2px 0 2px;
}

footer nav {
    border-bottom: #9A1A31 1px solid;
}
